[project]
name = "portfolio-app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ipykernel>=7.1.0",
    "pip>=25.3",
    "sqlalchemy>=2.0.44",
]
